* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}
.jumbotron{
    background-image: url("https://wallpapers.com/images/high/gaming-mouse-1600-x-1066-wallpaper-cbhk6f1ajskba4s6.webp");
}
.section {
background-color: blue;
}