/* MAIN css for account and edit_acc */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}
.nav-dash {
    height: 15vh;
    background-color: #1c1c1c;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Sen';
}