/* MAIN css for admin dashboard */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	text-rendering: optimizeLegibility;
	scroll-behavior: smooth;
}
.dash-img {
    height: 100px;
    width: 100px;
}
.navbar-bar{
  background-color: #1c1c1c;

}
