*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav-dash{
    height: 15vh;
    background-color: #1c1c1c;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Sen';
}

.text-wrapper {
    height: 65px;
}

.item-title{
    font-weight: bold;
}

.item-desc{
    width: 100%;
}

.row{
    padding: 15px;
    padding-top: 15px;
}

.wrapper{
}

.title-quan{
    margin: 0;
    padding-left: 0;
    padding-top: 15px;
    padding-right: 10px;
    padding-bottom: 15px;
}

.item-desc-2{
    display: flex;
}

.quantity{
    display: flex;
    margin: 0;
    align-items: center;
}

.btn-add{
    margin-right: 15px;
}

.btn-minus{
    margin-left: 15px;
}

.number{
    display: flex;
    margin: 0;
    align-items: center;
}

.btn-cart{
    text-align: center;
    border-radius: 0;
    margin-top: 22px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 45px;
    padding-left: 40px;
    padding-right: 40px;
}

.btn-buy{
    text-align: center;
    border-radius: 0;
    margin-top: 22px;
    padding-top: 15px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 15px;
}

.buttons{
    display: flex;
    margin-top: 50px;
}

.button-left{
    margin-right: 25px;
}

.heart{
    display: flex;
    font-size: 25px;
    flex-direction: row-reverse;
    float: right;
}

.stars{
    display: flex;
    font-size: 16px;
}

.ratings{
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.likes-wrapper{
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
}
